<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.autowatch.antiseptic">
    <!-- camera, gallery -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- <uses-feature -->
    <!-- android:name="android.hardware.camera" -->
    <!-- android:required="true" /> -->
    <!-- <uses-feature android:name="android.hardware.camera.autofocus" /> -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Face_recognition"></activity>
        <activity android:name=".Settingcamera" />
        <activity
            android:name=".Opencv"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity android:name=".Endroom" />
        <activity android:name=".Checkmyinfo" />
        <activity android:name=".Test" />
        <activity android:name=".Successroom" />
        <activity android:name=".Mypage" />

        <service
            android:name=".Accessibility"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <activity android:name=".EnterMyRoom" />
        <activity android:name=".NavRoom" />
        <activity
            android:name=".DeleteDialog"
            android:theme="@style/Transparent"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".UserInfo"
            android:theme="@style/Transparent" />
        <activity android:name=".ManagerRoomPopUp" />
        <activity android:name=".Room" />
        <activity android:name=".Home">

        </activity>
        <activity
            android:name=".User_SignUp_PopUp"
            android:theme="@style/Transparent" />
        <activity android:name=".SignUp" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>